#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
}

#detailHeader {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:baseline;
    padding: 1rem;
    height: 50vh;
    gap: 0.8rem;
    filter: brightness(0.9);
    border-radius: 0 0 2rem 2rem;
}

#fixedPokemonData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#pokemonName {
    color: #fff;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 15px;
}

#pokemonId {
    color: #fff;
    font-size: 1rem;
    opacity: 0.5;
    margin: 15px;
}

.typesModal {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.typeModal {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemonPhotoBorder {
    display: flex;
    position: sticky;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    align-items: flex-end;
    margin-left: -16px;
}

.pokemonPhoto img {
    max-width: 150px;
}

#detailBottom {
    display: block;
    justify-items: start;
    padding: 1rem;
    height: 50vh;
}

#aboutPokemon {
    display: block;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    gap: 25px;
}

.topnav a {
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 4px 0;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    opacity: 0.8;
}

.topnav a:hover::after {
    width: 70%;
}

.topnav a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.pokemonDescription {
    margin-bottom: 30px;
}
.pokemonDescription p {
    font-size: 1rem;
    color: #000;
    opacity: 0.8;
    margin: 15px;
}

.pokemonData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    opacity: 0.8;
    line-height: 0.8;
}

#baseStats {
    display: none;
}

.abilities {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}